<div class="main-page">
    <div class="bandPane">
        <h1>BAND</h1>
        <p>Unobtainium ist eine Pop/Rock Band aus Liechtenstein</p>
        <img src="../assets/imgs/cover.jpg"/>
        <p>Es singt und spielt an der Rhytmus-Gitarre Simon Meier, an der Lead-Gitarre Christian Gloor, am E-Akkordeon Dieter Biedermann,<br>am Schlagzeug Richi Clare und am Bass Yvonne Stalder.</p>
    </div>
    <div class="newsPane">
        <h1>NEWS</h1>
        <div ng-if="pluginOn" onrender="rendered()" 
                class="fb-page" data-href="https://www.facebook.com/unobtainium.li" 
                data-width="500" 
                data-small-header="true"  
                data-hide-cover="true" 
                data-show-facepile="false" 
                data-show-posts="true">
            <blockquote cite="https://www.facebook.com/unobtainium.li/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/unobtainium.li/">Unobtainium</a>
            </blockquote>
        </div>

        <h2>Newest youtube Videos</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLfSayz4JOkZgXUoe-cFa4sn836n19mJMj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h2>FL1 Contest 2018</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLfSayz4JOkZjBALOnhcdCUnpiefNDKX_J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="songsPane">
        <h1>SONGS</h1>
        <div>Unobtainium spielt eigen geschriebene Songs,<br/> sie stammen aus der Feder von Sänger und Gitarrist Simon Meier.</div>
        <iframe src="https://open.spotify.com/embed/artist/68Aocg9tsVPiA57r8Illbz" width="500px" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>