<h1 mat-dialog-title class="title-row">
    Aufgabe anpassen
</h1>
<div mat-dialog-content>
    <mat-form-field class="select-input" appearance="fill">
        <mat-label>Lied</mat-label>
        <mat-select
                [compareWith]="compareSongFolders"
                [(ngModel)]="aTodo.song">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let aSong of songFolders$ | async" [value]="aSong">
            {{aSong.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
   <mat-form-field class="description" appearance="fill">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput [(ngModel)]="aTodo.description"></textarea>
  </mat-form-field>
  <mat-form-field class="select-input" appearance="fill">
    <mat-label>Verantwortliche</mat-label>
    <mat-select [(ngModel)]="aTodo.responsibles" [compareWith]="bandMemberComperator" multiple>
      <mat-option *ngFor="let member of bandMembers" [value]="member">{{member.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="aTodo" cdkFocusInitial>Speichern</button>
</div>
