<h1 mat-dialog-title class="title-row">
    Ultimate Guitar Link anpassen
</h1>
<div mat-dialog-content>
    <mat-form-field class="select-input" appearance="fill">
        <mat-label>Lied</mat-label>
        <mat-select
                [compareWith]="compareSongFolders"
                [(ngModel)]="aLink.song">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let aSong of songFolders$ | async" [value]="aSong">
            {{aSong.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
   <mat-form-field class="description" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="aLink.name">
  </mat-form-field>
  <mat-form-field class="description" appearance="fill">
    <mat-label>Link</mat-label>
    <input matInput [(ngModel)]="aLink.link"> 
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="aLink" cdkFocusInitial>Speichern</button>
</div>