table {
    width: 100%;
}
.title-row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        font-weight: bolder;
    }
}

.mat-column-actions {
    width: 100px;
}