.app-todo {
    margin-top: 10px;
    table {
        width: 100%;
    }
    .title-row {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            font-weight: bolder;
        }

        .title-part-left {
            display: flex;
        }

    }

    .mat-badge-small.mat-badge-above .mat-badge-content {
        top: 4px;
    }
    .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
        right: -14px;
    }

    .mat-column-actions {
        width: 70px;
    }
}