<div class="band">
  <app-todo></app-todo>
  <h2>Songs:</h2>
  <div *ngIf="isLoading"> <mat-spinner></mat-spinner></div>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let aSong of songs$ | async" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <span>{{aSong.name}}</span>
              <span *ngIf="todoCounter[aSong.id]">&nbsp;({{todoCounter[aSong.id]}})</span>
            </div>
            <app-song-level [songFolder]="aSong"></app-song-level>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-song [songName]="aSong.name"></app-song>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
      <!--<a [routerLink]="['/song',aSong.name]" routerLinkActive="active">{{aSong.name}}</a>-->
    <!--app-track *ngFor="let i of songs" [song]="i" ></app-track-->
</div>
