<div class="song-list">
  <div class="header-row">
    <h2 class="header-row-text">Lieder:</h2>
    <div class="">
      <mat-form-field class="search-field" appearance="fill">
        <mat-label>Suche</mat-label>
        <input matInput [(ngModel)] = "searchTerm" (ngModelChange) = "filterSongs()">
      </mat-form-field>
    </div>
</div>
  <div *ngIf="isLoading"> <mat-spinner></mat-spinner></div>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let aSong of filteredSongs" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div [matBadge]="todoCounter[aSong.id]" 
                [matBadgeHidden]="!todoCounter[aSong.id]" 
                [matBadgeOverlap]="false"
                matBadgeSize="small"
                MatBadgePosition="after"
            >
              {{aSong.name}}
            </div>
            <app-song-level [songFolder]="aSong"></app-song-level>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-song [songFolder]="aSong"></app-song>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
      <!--<a [routerLink]="['/song',aSong.name]" routerLinkActive="active">{{aSong.name}}</a>-->
    <!--app-track *ngFor="let i of songs" [song]="i" ></app-track-->
</div>
